.btn-save {
    background-image: url("../image/icon/baocun.png");
}

.btn-export {
    background-image: url("../image/icon/daochu.png");
}

.btn-undo {
    background: #fefffd url("../image/icon/chexiao1.png");
    border: solid 1px #68a8ff;
}

.btn-undo:hover {
    background: #d3f1ff url("../image/icon/chexiao1.png");
}

.btn-undo:active {
    background: #3c8cff url("../image/icon/chexiao2.png");
}

.btn-undo.unavailable {
    background: #fbfbfb url("../image/icon/chexiao3.png");
    border: solid 1px #c1c1c1;
    cursor: not-allowed;
}

.btn-redo {
    background: #fefffd url("../image/icon/chongzuo1.png");
    border: solid 1px #68a8ff;
}

.btn-redo:hover {
    background: #d3f1ff url("../image/icon/chongzuo1.png");
}

.btn-redo:active {
    background: #3c8cff url("../image/icon/chongzuo2.png");
}

.btn-redo.unavailable {
    background: #fbfbfb url("../image/icon/chongzuo3.png");
    border: solid 1px #c1c1c1;
    cursor: not-allowed;
}

.btn-enlarge {
    background-image: url("../image/icon/fangda1.png");
}

.btn-enlarge:hover {
    background-image: url("../image/icon/fangda2.png");
}

.btn-narrow {
    background-image: url("../image/icon/suoxiao1.png");
}

.btn-narrow:hover {
    background-image: url("../image/icon/suoxiao2.png");
}

.btn-full-screen {
    background-image: url("../image/icon/quanpin1.png");
}

.btn-full-screen.selected {
    background-image: url("../image/icon/quanpin2.png");
}

.btn-screen {
    background-image: url("../image/icon/fangyin1.png");
}

.btn-screen.selected {
    background-image: url("../image/icon/fangyin2.png");
}

.btn-self-adaption {
    background-image: url("../image/icon/zishiyin1.png");
}

.btn-self-adaption.selected {
    background-image: url("../image/icon/zishiyin2.png");
}

.btn-line {
    background-image: url("../image/icon/lianjiex1.png");
}

.btn-line.selected {
    background-image: url("../image/icon/lianjiex2.png");
}

.btn-choice {
    background-image: url("../image/icon/xuanze1.png");
}

.btn-choice.selected {
    background-image: url("../image/icon/xuanze2.png");
}

.btn-text {
    background-image: url("../image/icon/wenben1.png");
}

.btn-text.selected {
    background-image: url("../image/icon/wenben2.png");
}

.btn-delete {
    background-image: url("../image/icon/shanchu1.png");
}

.btn-delete:hover {
    background-image: url("../image/icon/shanchu2.png");
}

.btn-edit {
    background-image: url("../image/icon/icon_edit.png");
}

/*底部按钮调整*/
#topo-bottom-tools > button {
    background-color: #fbfbfb;
    height: 100%;
    flex-basis: 50px;
    margin: 0;
    border-radius: 0;
}

#topo-bottom-tools > button:hover {
    background-color: #e0e0e0;
}

#topo-bottom-tools > button.selected {
    background-color: #3b8cff;
}

/*range slider样式*/
#zoom-bar {
    display: flex;
    align-items: center;
    height: 100%;
}

#zoom-bar button {
    background-color: transparent;
    margin: 0;
}

.zoom-range-slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 2px;
    background: #0078d7; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.zoom-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 4px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #007bdd; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*顶部绘制样式调整*/
#topo-draw-tools button {
    background-color: transparent;
    background-position: 50% 20%;
    color: #666666;
    flex-basis: 75px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
    border-right: 1px solid #dfdfdf;
    margin: 0;
    position: relative;
}

#topo-draw-tools button.selected {
    background-color: #efefef;
}

#topo-draw-tools button:active {
    background-color: #dedede;
}

#topo-draw-tools button span {
    position: absolute;
    bottom: 5%;
}

/*顶部重做样式控制*/
#topo-status-tools button {
    height: 70%;
    width: 50px;
    margin-left: 10px;
}