@charset "UTF-8";

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*主容器布局*/
#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#topo-top-tools {
    flex-basis: 60px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color: #fafafa;
    border: solid 1px #dfdfdf;
}

/*头部工具栏布局*/
#sys-btn-group {
    flex-basis: 340px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #dfdfdf;
}

#draw-btn-group {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#topo-draw-tools {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-basis: 300px;
    flex-shrink: 0;
}

#topo-status-tools{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

/*尾部工具布局*/
#topo-bottom-tools {
    flex-basis: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background-color: #f7f7f7;
    border: solid 1px #dfdfdf;
}

/*中间容器布局*/
#topo-main {
    flex: auto;
    display: flex;
    flex-direction: row;
}

#topo-left-tools {
    flex-basis: 340px;
    flex-shrink: 1;
    border: solid 1px #dfdfdf;
}

#topo-middle-view {
    flex: 400px;
    flex-grow: 2;
    flex-shrink: 0;
    position: relative;
    padding: 1em;
    background-color: #F7F8FA;
}

#topo-viewer{
    border: 1px dashed transparent;
    background: linear-gradient(#F7F8FA,#F7F8FA) padding-box,
    repeating-linear-gradient(-45deg,#ccc 0, #ccc 0.25em,#F7F8FA 0,#F7F8FA 0.75em);
    background-size: 100% 100%;

    /*border: 1px dashed transparent;*/
    /*background: linear-gradient(white,white) padding-box,*/
    /*repeating-linear-gradient(-45deg,#ccc 0, #ccc 0.25em,white 0,white 0.75em);*/
}
/*#topo-middle-view:before{*/
    /*content: '';*/
    /*height: 100%;*/
    /*margin: 1rem;*/
    /*border: 1px dashed transparent;*/
    /*background: linear-gradient(white,white) padding-box,*/
    /*repeating-linear-gradient(-45deg,#ccc 0, #ccc 0.25em,white 0,white 0.75em);*/
/*}*/

#topo-right-info {
    flex-basis: 260px;
    flex-shrink: 1
}

#left-tools-switch {

}

/*节点工具栏内部布局*/
#topo-left-tools > .layui-collapse .flex-box {
    display: flex;
    flex-wrap: wrap;
}

#topo-left-tools > .layui-collapse .dev-node {
    /*width: 110px;*/
    flex-basis: 110px;
    align-items: center;
    flex-grow: 1;
    margin: 0 10px;
    height: 80px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#topo-left-tools > .layui-collapse .dev-node span {
    justify-content: flex-start;
    flex-basis: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*右边属性格式*/
#node-info {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#node-info .info-div p, #node-info .info-div h2 {
    margin: 15px 0 15px 15px;
}

#edit-node-info h2, #edit-line-info h2, #node-info h2 {
    color: #027cd7;
}

#node-info #node-info-edit {
    margin: 20px;
}

#edit-node-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#edit-node-info > div {
    margin: 15px;
}

#edit-node-info #edit-node-info-form > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#edit-node-info #edit-node-info-form > div > label {
    flex-wrap: nowrap;
    flex-basis: 30%;
}

#edit-node-info #edit-node-info-form > div > input,
#edit-node-info #edit-node-info-form > div > select,
#edit-node-info #edit-node-info-form > div > textarea {
    flex-wrap: nowrap;
    flex-basis: 60%;
    flex-grow: 1;
}

/*按钮流式布局*/
#edit-node-info #edit-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#edit-node-info #edit-btn-group .sc-btn {
    display: flex;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
    margin: 0 5px;
}

#edit-line-info {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#edit-line-info > * {
    margin: 15px 15px 0 15px
}
#edit-line-info > div{
    display: flex;
    justify-content: space-around;
}

#edit-line-info > div > label {
    flex-wrap: nowrap;
    flex-basis: 30%;
}

#edit-line-info > div > select,
#edit-line-info > div > input ,
#edit-line-info > div > textarea{
    flex-wrap: nowrap;
    flex-basis: 60%;
    flex-grow: 1;
}
